<!DOCTYPE html>
<html>
<head>
  <title>Image Upload Using Django</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#EEEDEF]">
  <center>
    <h1 class="p-4 bg-white text-2xl font-bold">Image File Upload</h1>

    <table class="m-5">
      <form action="/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>
          <td>
            <label for="imagename">Image Name:</label>
          </td>
          <td>
            <input class="rounded-full pl-4" type="text" placeholder="Enter image name" name="imagename" required>
          </td>
        </tr>
        <tr>
          <td>
            <label for="imagefile">Select File:</label>
          </td>
          <td>
            <input class="m-2" type="file" id="imagefile" name="imagefile" accept=".jpg,.jpeg,.png" required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input class="p-2 bg-black text-white rounded-l" type="submit" value="Upload">
          </td>
        </tr>
      </form>
    </table>
    {% if msg %}
      <p>{{ msg }}</p>
    {% endif %}
  </center>

  <center>
    <a href="/image-fetch">Show All images</a>
  </center>
  {% if all_img %}
    {% for img in all_img %}
      <p>Image Name: {{ img.Imagename }}</p>
      <img src="{{ img.Imagefile.url }}" alt="{{ img.Imagename }}" width="200">
    {% endfor %}
  {% endif %}
</body>
</html>
